/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
}
ul li {
    list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

main {
  padding: 2rem;
  background: #080808;
}

.container{
  margin: 0 auto;
}

/* =========CABEÇALHO============== */

.header {
  background: linear-gradient(0deg, #000000 60%, #006905 150%);
  position: sticky;
  top: 0;
  border-bottom: #06b600 2px solid;
  z-index: 99;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 1rem;
  padding: 1rem 0;
  margin: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
}
.logo span {
  color: #16a703;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav a {
  color:aliceblue;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.nav a:hover {
  color: #1bce04;
  text-decoration: underline 1px #0f7701;
  text-underline-offset: 5px;
  transition: color 0.3s, text-decoration-color 0.3s;
}

.icons-nav {
  display: flex;
  gap: 1.5rem;
}

/* ===========INICIO============== */

.hero {
  padding: 3rem;
  background: linear-gradient(90deg, #000000 40%, #006905 100%);
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.hero .container-hero {
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.hero h1 {
  font-size: 6rem;
  width: 80%;
  color: #ffffff;
}

.hero h1 span {
  color: #16a703;
}

.hero p {
  max-width: 550px;
  color: #ffffff;
  margin: 0.5rem 0;
}

.hero-image {
  width: 45%;
  border-radius: 30px;
  /* margin:0 1rem; */
}

.btn-info a,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: 600;
  margin: 10px 0.5rem;
}

.btn-info a:first-child,
.btn {
  background: #09ff00;
  color: #000000;
}

.btn-info a:nth-child(2) {
  background: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}

/*isso faz que tanto o texto quanto o botão se movam */
.btn:hover,
.btn-info a:hover {
  transform: translateY(-2px);
}

.facil {
  display: flex; 
  align-items: center;
}

.facil i {
  font-size: 2rem;
  color: #16a703;
}

.facil-item {
  padding: 0 1rem;
}

.facil-item p {
  margin-top: 0.30rem;
}

.facil-item .cima {
  font-weight: 700;
}

/* ===================PRODUTOS========================== */

.container-produtos {
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 2rem;
  min-height: 100vh;
}
.container-produtos h3{
  color: #16a703;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.grid {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto {
  border-radius: 24px;
  padding: 1rem;
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #262626;
  background: linear-gradient(205deg, #181818 20%, #041b00 65%, #008f00 100%);
}

.produto:hover {
  transform: translateY(-5px);
}

.produto h4 {
  margin: 1rem 0 0.5rem;
}

.produto p {
  color: #09ff00;
  font-weight: 700;
}

.produto img {
  border-radius: 18px;
  padding: 0.5rem;
}

.btn-comprar {
  margin-top: 1rem;
  width: 100%;
  padding: 0.9rem;
  border: #06b600 2px solid;
  border-radius: 10px;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.btn-comprar:hover{
  background: #06b600;
  color: #000;
  border-color: #045a01;
  transform: translateY(-2px);
}

/* ==============SOBRE===================== */

.container-sobre {
  display: flex;
  align-items: center;
  background: #131616;
  color: #fff;
  width: 95%;
  height: 245px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.info-sobre{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 2rem;
  padding: 0.5rem 0;
}

.info-sobre h3 {
  color: #16a703;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.info-sobre h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-sobre p {
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
  font-size: 1.1rem;
}

.sobre-item {
  display: flex;
}
.sobre-item i {
  font-size: 2.5rem;
  color: #16a703;
  margin-right: 1rem;
}

.um{
  grid-area: qualidade;
}
.dois{
  grid-area: estilo;
}
.tres{
  grid-area: sustentavel;
}
.grid-sobre {
  display: grid;
  gap: 3rem 1rem;
  grid-template-areas:
    "qualidade qualidade"
    "estilo sustentavel";
  margin: 2rem 1rem;
}

.item-texto h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* ===============FEEDBACK===================== */
.feedback {
  color: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
}
.feedback h3 {
  color: #16a703;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.feedback p {
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
  font-size: 1.3rem;
}

.grid-feedback {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item {
  background: #131616;
  border-radius: 20px;
  padding: 1.5rem;
  margin: 1rem 0;
  width: 32%;
  display: grid;
  grid-template-areas:
    "perfil nome nome"
    "perfil estrela estrela"
    "comentario comentario comentario";
}

.feedback img{
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 2px solid #16a703;
  grid-area: perfil;
}

.feedback-item:hover {
  transform: translateY(-5px);
}

.feedback-item h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  grid-area: nome;
}
.feedback-item p {
  font-size: 1rem;
  grid-area: comentario;
}
.feedback-item .estrelas {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.75rem;
  grid-area: estrela;
}

.feedback-item .estrelas i {
  color: #16a703;
  font-size: 1.2rem;
}
/* =================PROMOÇÃO======================= */

.promocao {
  background: linear-gradient(90deg, #111 0%, #00a70e 100%);
  color: #fff;
  margin: 2rem;
  border-radius: 30px;
  border: 1px solid #048600;
}

.promocao .container-promocao {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.promocao .container-promocao i {
  font-size: 4rem;
  color: #16a703;
}

.promocao .info-promocao {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.promocao .info-promocao h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #1df500;
}
.promocao .info-promocao h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.promocao .info-promocao p {
  font-size: 0.9rem;
  letter-spacing: 0.02em;
}

.container-contador .acaba{
  font-size: 1.25rem;
  margin-left: 1rem;
  padding: 0.5rem 0;
}

.promocao .contador {
  display: flex;
  gap: 1rem;
}

.contador-item {
  min-width: 90px;
  text-align: center;
}

.contador-item p {
  font-size: 2.5rem;
  font-weight: 700;
}

.container-promocao .btn{
  width: 30%;
  padding: 1rem;
  border: #058b00 2px solid;
  border-radius: 10px;
  background: linear-gradient(180deg, #00ff00 0%, #00a70e 100%);
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* ==============FOOTER=================== */

.footer {
  padding: 1.2rem 0;
  background: #111;
  color: #fff;
  text-align: center;
}

a.icons {
  display: inline-block;
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

.footer .container {
  display: flex;
  margin-bottom: 2rem;
  /* gap: 1rem; */
}

.footer .icons:hover {
  transform: translateY(-5px);
}

.footer h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.footer li, p, a {
  font-size: 1rem;
  margin: 0.5rem;
}

.footer-info {
  margin: 0 1rem;
  text-align: left;
  padding: 0.5rem 1rem;
  width: 100%;
  border-left: 1px solid #414141;
}

.footer-info:first-of-type {
    border-left: none;
  }

.footer-info a i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.footer-info h2, h1 {
  color: #119400;
  font-size: 1.25rem;
  margin: 1rem;
}

.footer-info p, a {
  font-size: 1rem;
  padding: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

form input[type="email"] {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

form button {
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  background-color: #16a703;
  color: #fff;
  cursor: pointer;
}